/GAN_SCRATCH/data
/GAN_SCRATCH/word-hwr
/GAN_SCRATCH/iam_words
/SCRATCH_Code/data
/SCRATCH_Code/iam_words
/Higan+ from Scratch/data
/Higan+ from Scratch/inference_results
/Higan+ from Scratch/lib/__pycache__
/Higan+ from Scratch/metric
/Higan+ from Scratch/networks
/Higan+ from Scratch/pretrained
Higan+ from Scratch/server_files/epoch_20.pth
/Higan+ from Scratch/presentation/node_modules
/Higan+ from Scratch/presentation/node_modules
/Higan+ from Scratch/presentation/node_modules
/Higan+ from Scratch/presentation/node_modules
/Higan+ from Scratch/presentation/node_modules
/hdf5_train_ocr/data
